<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>默认</string>
		<key>id</key>
		<string>500001</string>
	</dict>
	<dict>
		<key>image</key>
		<string>回忆</string>
		<key>id</key>
		<string>500034</string>
	</dict>
	<dict>
		<key>image</key>
		<string>少女</string>
		<key>id</key>
		<string>500035</string>
	</dict>
	<dict>
		<key>image</key>
		<string>红润</string>
		<key>id</key>
		<string>500036</string>
	</dict>
	<dict>
		<key>image</key>
		<string>都市</string>
		<key>id</key>
		<string>500037</string>
	</dict>
	<dict>
		<key>image</key>
		<string>微光</string>
		<key>id</key>
		<string>500038</string>
	</dict>
	<dict>
		<key>image</key>
		<string>红唇</string>
		<key>id</key>
		<string>500039</string>
	</dict>
	<dict>
		<key>image</key>
		<string>默认</string>
		<key>id</key>
		<string>500040</string>
	</dict>
	<dict>
		<key>image</key>
		<string>默认</string>
		<key>id</key>
		<string>500041</string>
	</dict>
	<dict>
		<key>image</key>
		<string>默认</string>
		<key>id</key>
		<string>500042</string>
	</dict>
	<dict>
		<key>image</key>
		<string>默认</string>
		<key>id</key>
		<string>500043</string>
	</dict>
	<dict>
		<key>image</key>
		<string>默认</string>
		<key>id</key>
		<string>500044</string>
	</dict>
	<dict>
		<key>image</key>
		<string>默认</string>
		<key>id</key>
		<string>500045</string>
	</dict>
	<dict>
		<key>image</key>
		<string>默认</string>
		<key>id</key>
		<string>500046</string>
	</dict>
	<dict>
		<key>image</key>
		<string>默认</string>
		<key>id</key>
		<string>500047</string>
	</dict>
</array>
</plist>
