<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>500034</key>
	<string>回忆</string>
	<key>500035</key>
	<string>少女</string>
	<key>500036</key>
	<string>红润</string>
	<key>500037</key>
	<string>都市</string>
	<key>500038</key>
	<string>微光</string>
	<key>500039</key>
	<string>红唇</string>
	<key>500040</key>
	<string>抖音白皙</string>
	<key>500041</key>
	<string>火山白皙</string>
	<key>500042</key>
	<string>火山初夏</string>
	<key>500043</key>
	<string>火山青草</string>
	<key>500044</key>
	<string>火山唯美</string>
	<key>500045</key>
	<string>激萌白皙</string>
	<key>500046</key>
	<string>激萌水嫩</string>
	<key>500047</key>
	<string>激萌微光</string>
	<key>500001</key>
	<string>默认</string>
</dict>
</plist>
