<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>CNY.v02.0069</string>
		<key>name</key>
		<string>xiaomaomi_v01_NoBone_src</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_video_aisi_d</string>
		<key>name</key>
		<string>aisi_v01_src</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_video_erkang</string>
		<key>name</key>
		<string>erkang_src</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_video_zhishang_d</string>
		<key>name</key>
		<string>zhishangpenwu_src</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_video_xiaolu</string>
		<key>name</key>
		<string>xiaolu_src</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Cool_Fancam</string>
		<key>name</key>
		<string>Cool_Fancam_src</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>gridding</string>
		<key>name</key>
		<string>IM_wangge_src</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Missles_BS_v02.0004_device</string>
		<key>name</key>
		<string>Missles_BS_v02_0005_src</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mustache</string>
		<key>name</key>
		<string>playoffbeard_v10-0011_beardonly_src_1499363431848</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Witch</string>
		<key>name</key>
		<string>Witch_src</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>CuteMonster</string>
		<key>name</key>
		<string>fisheye_src</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>slam</string>
		<key>name</key>
		<string>slam</string>
		<key>type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>image</key>
		<string>imu</string>
		<key>name</key>
		<string>imu</string>
		<key>type</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image</key>
		<string>手势</string>
		<key>name</key>
		<string>gesture_anakin</string>
		<key>type</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image</key>
		<string>万圣节_全景图</string>
		<key>name</key>
		<string>sky_imgseg</string>
		<key>type</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image</key>
		<string>控雨</string>
		<key>name</key>
		<string>kongyu</string>
		<key>type</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image</key>
		<string>美体</string>
		<key>name</key>
		<string>stretchleg</string>
		<key>type</key>
		<string>8</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chaiquan</string>
		<key>name</key>
		<string>xiaogou_animoji</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>bear</string>
		<key>name</key>
		<string>CuteBear_cat</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>image</key>
		<string>huamao</string>
		<key>name</key>
		<string>huamao</string>
		<key>type</key>
		<string>10</string>
	</dict>
</array>
</plist>
